* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 51, 51);
}

.members {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    padding: 9px 15px;
    background-color: #a28615;
    color: black;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    margin: 10px;
}

.card {
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-image: url(img/5c7ec2170c28bef444c8cd48_ben-blennerhassett-302015-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 30px;
    border-radius: 50%;
    margin: 5px;
    border-bottom: 20px solid yellow;
    transition: .3s all;
}

.card:hover{
    border-bottom: 0;
    border-top: 20px solid yellow;
}
.card h4,
p {
    margin-bottom: 10px;
    color: white;
}