body {
    margin: 0;
}

.header {
    background-color: black;
    height: 55px;
    margin-bottom: 25px;
}

.box {
    height: 227px;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 0 13px 27px 13px;
}

.footer {
    width: 80%;
    height: 45px;
    margin: 70px auto;
    border-radius: 10px;
    background-color: plum; 
}